<html>
  <head>
    <style>
     body {
      text-align: center;
      }

    </style>
  </head>
  <body>

    <h1>Hello, {{ user.email|default:'Guest' }}</h1>

    <p> Welcome Page (to be implemented!)</p>
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'log_out' %}">Logout</a>
          &nbsp;
          <a href="{% url 'trades' %}">Trades</a>
      {% else %}
          <a href="{% url 'login' %}">Login</a>
          &nbsp;
          <a href="{% url 'signup' %}">Sign Up</a>
          &nbsp;
          Trades(needs login!)
      {% endif %}
  </div>

  </body>
</html>