{% load bootstrap4 %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- back to home button -->
<h2 ALIGN="center">Change Password</h2>
<form ALIGN='center' method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit">Save</button>
    <br></br>
    <a href="{% url 'home' %}">Back to Home</a>
  </form>