{% load bootstrap4 %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- <div ALIGN="center">
  {% block title %}Login{% endblock %}
</div> -->


{% block content %}
  <h2 ALIGN="center">Login</h2>

    <form ALIGN='center' method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      <td>&nbsp;</td>
      <td ALIGN='center'><input type="submit" value="Submit"></td>
      <br></br>

      <a href="{% url 'signup' %}">Back to signup</a>
      &nbsp;
      <a href="{% url 'home' %}">Back to Home</a>
    </form>
{% endblock %}