{% extends "base_view.html" %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block header %}
<h1> Charts </h1>
{% endblock %}

  {% block content %}
  <div class="container">
  <table id="table"
          data-ajax="ajaxRequest"
          data-pagination="true">
    <thead>
        <tr>
            <th data-field="start_time">Start Time</th>
            <th data-field="low">Low Price</th>
            <th data-field="high">High Price</th>
            <th data-field="open">Open Price</th>
            <th data-field="close">Close Price</th>
        </tr>
    </thead>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.js"></script>
<script> src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" </script>
 <script type="text/javascript">
 $('.document').ready(function(){
   var task_id = '{{task_id}}'
   var clear = setInterval(function(){
     $.ajax({
     type:"GET",
     url: "{% url 'check_status' %}",
     data : {"task_id" : task_id},
  }).done(function(response){
    if (response !== false){
      $('#table').bootstrapTable({
        data: response
    });
    clearInterval(clear)
    }
  });
   }, 2000)
});
</script>
  {% endblock %}
