{% extends "base_view.html" %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block header %}
<h1> Charts </h1>
{% endblock %}

  {% block content %}
  <div class="container">
  <table id="table"
          data-ajax="ajaxRequest"
          data-pagination="true">
    <thead>
        <tr>
            <th data-field="start_time">Start Time</th>
            <th data-field="low">Low Price</th>
            <th data-field="high">High Price</th>
            <th data-field="open">Open Price</th>
            <th data-field="close">Close Price</th>
        </tr>
    </thead>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.js"></script>
 <script type="text/javascript">
 $('.document').ready(function(){
   var task_id = '{{task_id}}'
   setInterval(function(){
     $.ajax({
     type:"GET",
     url: "{% url 'check_status' %}",
     data : {"task_id" : task_id},
  }).done(function(response){
    if (response !== false){
      $('#table').bootstrapTable({
        data: response
    });
    //  var col = [];
    //    for (var i = 0; i < response.length; i++) {
    //        for (var key in response[i]) {
    //            if (col.indexOf(key) === -1) {
    //                col.push(key);
    //            }
    //        }
    //    }
    //    var idx1 = col.indexOf('close_time')
    //    if (idx1 !== -1){
    //      col.splice(idx1, 1)
    //    }
    //    var idx2 = col.indexOf('open_time')
    //    if (idx2 !== -1){
    //      col.splice(idx2, 1)
    //    }
    //    var table = document.createElement("table");
    //    var tr = table.insertRow(-1);
    //    for (var i = 0; i < col.length; i++) {
    //        var th = document.createElement("th");
    //        th.innerHTML = col[i];
    //        tr.appendChild(th);
    //    }
    //    for (var i = 0; i < response.length; i++) {
    //      tr = table.insertRow(-1);
    //      for (var j = 0; j < col.length; j++) {
    //          var tabCell = tr.insertCell(-1);
    //          tabCell.innerHTML = response[i][col[j]];
    //      }
    //    }
    //    var divContainer = document.getElementById("showData");
    //    divContainer.innerHTML = "";
    //    divContainer.appendChild(table);
    }
  });
   }, 2000)
});
</script>
  {% endblock %}
